ProjetXML/dtd1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT categorie (jouet*, livre*)>
<!ELEMENT jouet (nom, desc, prix, qté)>
<!ELEMENT livre (nom, desc, prix, qté)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT prix (#PCDATA)>
<!ELEMENT qté (#PCDATA)>
<!ATTLIST jouet id ID #REQUIRED>
<!ATTLIST livre id ID #REQUIRED>



