ProjetXML/dtd2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT produits (produit*)>
<!ELEMENT produit (nom, desc, prix, qté)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT prix (#PCDATA)>
<!ELEMENT qté (#PCDATA)>
<!ATTLIST produit id ID #REQUIRED>
<!ATTLIST produit categorie (jouet|livre) #REQUIRED>